:root {
  --content-width: 560px;
  --icon-size: 48px;
  --border-width: 2px;

  --color-text: #222;
  --color-muted: #666;
  --color-primary: #C22B15;
  --color-accent: #ED8D82;
  --color-bg: #FFF;
  --color-soft: #fff2ef;

  --radius-sm: 10px;
  --radius-lg: 16px;
}

/* Base & reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.6;
  color: var(--color-text);
}

h1, h2, h3 {
  line-height: 1.3;
  margin: 0;
}

p {
  margin: 0.75rem 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: var(--color-text);
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: var(--color-primary);
  text-underline-offset: 2px;
}

a:hover {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Layout container (main + timeline line) */
main {
  position: relative;
  max-width: var(--content-width);
  margin: 1rem auto 0;
}

main::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: calc(1rem + 1rem); /* section padding + card bottom margin */
  left: calc(
    1rem + 1.4rem + var(--icon-size) / 2 + var(--border-width) / 2
  ); /* section padding + card padding + half icon width + half border width */
  border-left: var(--border-width) dotted var(--color-accent);
  width: 8px;
  background-color: var(--color-bg);
}

/* Header + navigation */
header {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 1.4rem 1rem 1rem;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.brand img {
  height: 40px;
}

.brand h1 {
  font-size: 1.1rem;
}

button.menu-toggle {
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.menu-toggle:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

nav {
  display: none;
  position: absolute;
  inset-inline: 0;
  z-index: 10;
  padding: 2rem 0 3rem;
  background-color: var(--color-bg);
  box-shadow: 0 10px 12px rgba(0,0,0,0.1);
}

nav ul {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

nav a {
  display: inline-block;
  padding: 0.2rem 0;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-primary)
}

/* Sections & shared image rules */
section {
  padding: 1rem;
}

section h2 {
  margin: 1.1rem 0;
}

section img {
  width: 100%;
  margin: 1rem 0;
  border-radius: var(--radius-sm);
  object-fit: cover;
}

#intro img {
  object-position: 0 40%;
  aspect-ratio: 16 / 9;
}

section#summary img {
  object-fit: contain;
  max-width: 240px;
  margin: 2rem auto 0;
}

/* Footer */
footer {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 0 1.2rem 2rem 1.2rem;
  color: var(--color-muted);
  text-align: center;
  font-size: 0.9rem;
}

footer a {
  display: inline-flex;
  align-items: center;
  gap: 0.2rem;
}

/* Card component */
.card {
  position: relative;
  margin: 0 auto 1rem;
  padding: 1.4rem;
  background: var(--color-bg);
  border: var(--border-width) solid var(--color-primary);
  border-radius: var(--radius-lg);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.card-icon {
  display: flex;
  position: absolute;
  top: -25px;
  width: var(--icon-size);
  height: var(--icon-size);
  align-items: center;
  justify-content: center;
  background: var(--color-bg);
  border: var(--border-width) solid var(--color-primary);
  border-radius: 50%;
}

.card-icon .inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Special cases */
#mistakes .card,
#mistakes .card-icon {
  background: var(--color-soft);
}

#mistakes h2 {
  margin-bottom: 1.8rem;
}

#mistakes h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2.2rem;
}

#mistakes p {
  margin-top: 0.5rem;
  padding-left: 2.2rem;
}

#mistakes .list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#mistakes .icon {
  position: absolute;
  display: flex;
  width: 24px;
  height: 24px;
}

#mistakes .icon .inner {
  position: relative;
}

#mistakes .icon .inner::before {
  content: "";
  display: block;
  position: absolute;
  border-top: var(--border-width) dotted var(--color-accent);
  top: calc(50% - var(--border-width) / 2); /* half border width */
  left: calc(-1.4rem);
  width: 1.6rem
}

/* media queries */
@media (min-width: 768px) {

  /* Header & nav */
  header {
    max-width: none;
    width: calc(var(--content-width) + var(--icon-size));
    padding-inline: 0;
  }

  button.menu-toggle {
    display: none;
  }

  .top-bar {
    justify-content: center;
    width: var(--content-width);
    margin-left: auto;
    padding: 0 1rem;
  }

  nav {
    display: block;
    position: static;
    box-shadow: none;
    padding: 1rem 1rem 0 1rem;
    width: var(--content-width);
    margin-left: auto;
  }

  nav ul {
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
  }

  nav a {
    padding: 0.2rem;
  }

  /* Main layout */
  main {
    max-width: none;
    width: calc(var(--content-width) + var(--icon-size));
  }

  main::before {
    left: calc(
      var(--icon-size) / 2 - var(--border-width) / 2
    ); /* half icon width - half border width */
    top: 4rem;
  }

  section {
    width: var(--content-width);
    margin-left: auto;
  }

  footer {
    max-width: none;
    width: calc(var(--content-width) + var(--icon-size));
  }

  /* Summary layout */
  #summary .card {
    position: relative;
    display: grid;
    column-gap: 1.4rem;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "title image"
      "content image";
  }

  #summary h2 {
    grid-area: title;
    /* margin-top: 0; */
    margin-bottom: 0.2rem;
  }

  #summary p {
    grid-area: content;
  }

  #summary img {
    grid-area: image;
  }

  #summary .card::before {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--color-bg);
    left: calc(
      -1rem - var(--border-width) - var(--icon-size) / 2 - var(--border-width) / 2
    ); /* section padding + border width + half icon width + half border width */
    width: var(--border-width);
    top: 3rem;
    bottom: var(--border-width)
  }


  /* Card icon component */
  .card-icon {
    top: calc(2.1rem);
    left: calc(
      -1 * var(--icon-size) - 1rem - var(--border-width)
    ); /* icon width + section padding + border width */
  }

  .card-icon .inner::before {
    content: "";
    display: block;
    position: absolute;
    border-top: var(--border-width) solid var(--color-primary);
    left: calc(50% + var(--icon-size) / 2);
    width: 1rem
  }
}